ORACLE_BACKEND_URL=https://oracle.hakanhisim.net
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_me
BREVO_API_KEY=
SMTP_FROM=noreply@universal-transmissions.com
SMTP_FROM_NAME=UT Oracle
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
